---
import Layout from '@/layouts/Layout.astro';
import Download from '../icons/Download.astro';
import Mails from '../icons/Mails.astro';
import GitHub from '../icons/GitHub.astro';
import Linkedin from '../icons/Linkedin.astro';
import { common } from '@/i18n/pages';
import TechBrand from '../icons/TechBrand.astro';

interface Props {
    seo: {
        title: string;
        description: string;
    };

    title: string;
    bio: string[];
    stack: {
        title: string;
        items: Array<{
            category: string;
            items: string[];
        }>;
    };
    experience: {
        title: string;
        items: {
            company: string;
            location: string;
            period: string;
            role: string;
            achievements: string[];
        }[];
    };
}

const { stack, experience, seo, title, bio } = Astro.props;

const [firstPart, secondPart] = title.split('|');
---

<Layout title={seo.title} description={seo.description}>
    <section class="pg-about p-container w-full min-h-vh pt-32 px-6 md:px-24 pb-24 pointer-events-none">
        <div class="lg:col-span-5 lg:pr-8" data-ws-staggered>
            <section>
                <h1
                    class="text-5xl md:text-7xl uppercase tracking-[0.2em] text-slate-200/80 font-bold mb-6 flex items-center gap-2"
                >
                    {firstPart}<span class="text-cyan-500">{secondPart}</span>
                </h1>
                <div class="flex flex-wrap gap-4 py-6">
                    <a
                        href="#"
                        class="flex items-center gap-2 px-6 py-3 bg-slate-900/40 border border-transparent hover:border-cyan-500/50 transition-all duration-500 border-slate-800/50 text-white font-bold"
                    >
                        <Download class:list={'size-4'} /> Download CV
                    </a>
                    <div class="flex items-center gap-4 px-4 py-3">
                        <a data-l-mail={common.socials.email} class="text-slate-400 hover:text-white transition-colors">
                            <Mails class:list={'size-5'} />
                        </a>
                        <a
                            href="https://linkedin.com"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-slate-400 hover:text-cyan-400 transition-colors"
                        >
                            <Linkedin class="size-5" />
                        </a>
                        <a
                            href="https://github.com"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-slate-400 hover:text-white transition-colors"
                        >
                            <GitHub class:list={'size-5'} />
                        </a>
                    </div>
                </div>
            </section>
            <div
                class="font-p text-base space-y-6 text-slate-300 leading-relaxed backdrop-blur-sm bg-black/20 p-6 border-l border-cyan-500"
            >
                {bio.map((paragraph: string) => <p>{paragraph}</p>)}
            </div>
        </div>

        <section class="lg:pr-8 pt-16" data-ws-staggered>
            <h3 class="text-base uppercase tracking-[0.3em] text-cyan-500 font-bold flex items-center py-6">
                {stack.title}
            </h3>
            <div class="grid md:grid-cols-2 gap-4">
                {
                    stack.items.map(stack => (
                        <div class="p-4 bg-cyan-900/10 transition-all duration-500">
                            <h4 class="text-white font-p text-sm mb-2 uppercase tracking-tighter flex items-center gap-2 opacity-70">
                                {stack.category}
                            </h4>
                            <ul class="text-base text-slate-400 space-y-1 flex gap-4 flex-wrap">
                                {stack.items.map(item => (
                                    <li class="hover:text-cyan-400 transition-colors pointer-events-none flex items-center gap-2">
                                        <TechBrand icon={item as any} />
                                        <span>{item}</span>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    ))
                }
            </div>
        </section>
    </section>

    <section class="p-container w-full pb-36">
        <h3
            class="text-base uppercase tracking-[0.3em] text-cyan-500 font-bold mb-8 flex items-center gap-2"
            data-ws-fade
        >
            {experience.title}
        </h3>

        <div class="space-y-12" data-ws-staggered>
            {
                experience.items.map(job => (
                    <div class="relative pl-8 border-l border-slate-800">
                        <div class="absolute -left-1 top-0 size-2 bg-cyan-500 rounded-full" />

                        <div class="mb-2">
                            <span class="text-red-400 font-p text-sm uppercase tracking-widest">{job.period}</span>
                            <h4 class="text-2xl font-medium tracking-wider text-white">{job.role}</h4>
                            <p class="text-slate-400 text-base font-medium italic">
                                {job.company} — {job.location}
                            </p>
                        </div>

                        <ul class="mt-4 space-y-3">
                            {job.achievements.map(achievement => (
                                <li class="font-p text-slate-300 leading-relaxed flex gap-3">{achievement}</li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
