---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "../ProjectCard.astro";

interface Props {
    seo: {
        title: string;
        description: string;
    };
    title: string;
    projects: Array<{
        title: string;
        description: string;
        status: string;
        stack: string[];
        preview: string | null;
        repository: string;
        created_at: string;
    }>;
}

const { projects, seo, title } = Astro.props;

const [titlePartOne, titlePartTwo] = title.split("|");
---

<Layout title={seo.title} galaxy="zoomReset" description={seo.description}>
    <section class="w-full min-h-screen py-32 px-6 md:px-24 pointer-events-none">
        <h1
            class="font-sans tracking-widest text-5xl md:text-8xl font-bold mb-16 text-cyan-500 pointer-events-auto"
            data-ws-reveal
        >
            <span class="text-slate-300">{titlePartOne}</span>
            {titlePartTwo}
        </h1>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 pointer-events-auto lg:mr-20" data-ws-staggered>
            {
                projects.map((project, index) => (
                    <ProjectCard
                        index={index}
                        title={project.title}
                        description={project.description}
                        status={project.status}
                        stack={project.stack}
                        preview={project.preview}
                        repository={project.repository}
                        created_at={project.created_at}
                    />
                ))
            }
        </div>
    </section>
</Layout>
