---
interface Props {
    playlist: Array<{
        title: string;
        artist: string;
        poster: string;
        src: string;
    }>;
}

const { playlist = [] } = Astro.props;
---

<div class="bg-black/40 backdrop-blur-md p-8 rounded-sm w-full mt-12">
    <div class="flex justify-between items-center mb-6">
        <span class="font-mono text-xs text-tomato animate-pulse">LIVE SIGNAL</span>
        <span class="font-mono text-xs text-gray-500">44.1kHz / 24bit</span>
    </div>

    <div class="flex flex-col gap-8">
        <div class="flex justify-center items-center gap-6">
            <button s-on:click="prevTrack" class="text-gray-500 hover:text-white transition-colors">
                <span class="font-mono text-xs">[PREV]</span>
            </button>

            <button
                s-on:click="togglePlay"
                class="w-16 h-16 rounded-full border border-cyan-500 flex items-center justify-center hover:bg-cyan/10 transition-all group cursor-pointer"
                aria-label="audio controls"
            >
                <div
                    class="w-0 h-0 border-t-10 border-t-transparent border-l-16 border-l-cyan border-b-10 border-b-transparent ml-1 transition-transform"
                    s-bind:hidden={'isPlaying'}
                >
                </div>
                <div class="w-4 h-6 border-l-4 border-r-4 border-cyan-500" s-bind:hidden={'!isPlaying'}></div>
            </button>

            <button s-on:click="nextTrack" class="text-gray-500 hover:text-white transition-colors">
                <span class="font-mono text-xs">[NEXT]</span>
            </button>
        </div>

        <div class="flex flex-col gap-2 mt-4 text-left">
            {
                playlist.map((track, i) => (
                    <div
                        class="track-item relative cursor-pointer flex flex-col justify-between p-3 hover:bg-white/5 border border-transparent hover:border-cyan-500/30 transition-all group relative"
                        data-index={i}
                    >
                        <button class="flex justify-between items-center cursor-pointer" s-on:click="handlePlayTrack">
                            <div class="flex items-center gap-4">
                                <span class="font-mono text-xs text-gray-600 group-hover:text-cyan-500">{`0${i + 1}`}</span>
                                <div class="flex flex-col items-start">
                                    <span class="font-sans text-sm font-bold text-gray-300 group-hover:text-white">
                                        {track.title}
                                    </span>
                                    <span class="font-mono text-[10px] text-gray-500">{track.artist}</span>
                                </div>
                            </div>
                            <span
                                class="font-mono text-xs text-cyan-500"
                                s-text={`${i} === currentTrackIndex ? (isPlaying ? "<PLAYING>" : "<PAUSED>") : "<PLAY>"`}
                            />
                        </button>

                        <button
                            class="w-full h-1 bg-white/20 rounded mt-2 overflow-hidden"
                            s-on:click="onSeek"
                            aria-label="seek progress bar"
                            s-if={`${i} === currentTrackIndex`}
                        >
                            <div class="h-1 bg-cyan-500" s-style:bind="{width: (progress * 100) + '%'}" />
                        </button>
                    </div>
                ))
            }
        </div>
    </div>
</div>

<script>
    import { inject } from '@packages/z-state';

    document.addEventListener('astro:page-load', () => {
        const state = inject('audioState');
    });
</script>
